<html>
<head>
<style>
body {
	width: 374px; /* pub is 384 */
	margin-left: 10px;
	margin-right: 10px;
		font-family: 'Oxygen Mono', sans-serif;

}

.code {
	white-space: pre-wrap;
	font-size: 6px
}
img {
	width:300px;
}

.piece {
	text-align: center;
}

/*
.original {
	float:left;
	margin-right: 5px;
}

.recode {
	float: left;
}
*/
.credit {
	font-size: 18px;
}

#logo {
	width: 374px;
	margin: 0 auto;
	border-bottom: 2px dotted black;
	padding-bottom: 5px;
	margin-bottom: 15px;
	text-align: center;
}

#logo p {
	margin-bottom: 0px;
}

#num {
	font-size: 80%;
}

#logo img {
	width: 50px;
}

#deets {
	border-top: 2px dotted #000;
		border-bottom: 2px dotted #000;
		margin-top: 5px;
		font-size: 12px;

}

</style>
</head>
<body>
<div id="logo">
<img src="http://recode-printer.herokuapp.com/icon-2.png"/>
<p>THE RECODE PROJECT <span id="num"><%= @piece.delivery_order %> / 52</span></p>
</div>
<div class="piece">
<div class="original">
<img src="<%= @piece.original_piece_url %>" />
<p class="credit"><b><%= @piece.title %></b><br/>
<em><%= @piece.artist %> - <%= @piece.year %></em>	
</p>
</div>
<div class="recode">
<img src="<%= @piece.recode_image_url %>" />
<p class="credit"><b><%= @piece.title %> by <%= @piece.artist %></b><br/><em>Recoded by <%= @piece.recoder %></em></p>

</div>
<!--
<br style="clear:both" />
<div class="code">
	<%= @piece.recode_source_code %>
</div>
-->
<div id="deets">
	<p>SEE THE SOURCE AND OTHER RECODES: http://bit.ly/rcp1</p>
</div>
</div>
</body>
</html>